@use "mixins" as m;
@use "variables" as v;

body {
  line-height: 1.5;

  color-scheme: light dark;
  color: v.$darkmode-bg-color;
  background-color: v.$lightmode-bg-color;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  section.section__podlist {
    h1 {
      font-size: 2.5rem;
      text-align: center;
    }

    div.section__podlist--pods {
      @include m.laptop {
        display: grid;
        grid-template-columns: 1fr 1fr;
      }

      @include m.laptopL {
        grid-template-columns: 1fr 1fr 1fr;
      }

      .section__podDiv--container {
        display: flex;
        flex-direction: row;
        margin-bottom: 2rem;

        img {
          margin-top: 0.5rem;
          width: 100px;
          height: 100px;
        }

        .section__podDiv--innerDiv {
          display: inline-flex;
          flex-direction: column;
          margin-top: 0;
          margin-left: 1rem;

          h2 {
            font-size: 1.25rem;
            margin: 0;
          }

          p {
            font-size: 1rem;
            margin: 0;
          }

          a {
            color: v.$darkmode-bg-color;
            cursor: pointer;

            &:active,
            &:hover {
              color: v.$hover-link-text-color;
            }
          }
        }
      }
    }
  }
}

.darkmode {
  background-color: v.$darkmode-bg-color;
  color: v.$darkmode-text-color;
  section
    > .section__podlist--pods
    > .section__podDiv--container
    > .section__podDiv--innerDiv
    > a.pod__link {
    color: v.$darkmode-text-color;
    &:active,
    &:hover {
      color: v.$hover-link-text-color;
    }
  }
}
